.info {
    background-color: aliceblue;
    margin-left: 20%;
}

.info-text {
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.intro-myself {
    width: 30%;
    margin-left: 5%;
}

.intro-img img {
    width: 60%;
    margin: 0px 20% 20px 20%;
    border-radius: 50%;
}

.intro-text {
    font-size: 20px;
    color: #343434;
}

#intro-contact {
    margin-top: 30px;
    font-size: 1.4em;
    float: right;
}

#intro-contact:hover {
    color: #999999;
}

/*intro-detail*/

.intro-detail {
    width: 60%;
    margin-left: 5%;
    background-color: #343434;
    overflow: auto;
}

/* .design-ability, .hobby{
    background-color: #999999;
    border-radius: 5px;
} */

.intro-detail>div>p {
    display: block;
    width: 150px;
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    margin: 30px;
}

.intro-detail>div {
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-detail div img {
    width: 100%;
}

.intro-detail>div>div>div>p {
    color: aliceblue;
    font-size: 1.3em;
    margin: 10px;
    width: 150px;
}

.intro-detail>div>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score {
    height: 5px;
    background-color: aliceblue;
}

.technology-ability>div>div:first-child hr {
    width: 400px;
}

.technology-ability>div>div:nth-child(2) hr {
    width: 250px;
}

.technology-ability>div>div:nth-child(3) hr {
    width: 100px;
}

.technology-ability>div>div:nth-child(4) hr {
    width: 200px;
}

.technology-ability>div>div:nth-child(5) hr {
    width: 50px;
}

/*design ability*/

.design-ability>div>div:first-child hr {
    width: 200px;
}

.design-ability>div>div:nth-child(2) hr {
    width: 350px;
}

.design-ability>div>div:nth-child(3) hr {
    width: 300px;
}

/*hobby*/

.hobby>div>div:first-child hr {
    width: 500px;
}

.hobby>div>div:nth-child(2) hr {
    width: 350px;
}

/*seperate-info*/

.seperate-info {
    margin: 50px 0;
    height: 2px;
    background-color: #999999;
    border: 0px dotted #999999;
}

/*scroll bar*/

.intro-detail::-webkit-scrollbar-track {
    background-color: #343434;
}

.intro-detail::-webkit-scrollbar {
    width: 7px;
}

.intro-detail::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 5px;
}