header {
    position: fixed;
    height: 100%;
    width: 20%;
    padding: 40px 0px;
    background-color: rgba(52, 52, 52, 0.8);
}

header * {
    color: aliceblue;
}

/*title*/

header>div:first-child {
    padding: 0px 40px;
}

header>div:first-child * {
    font-size: 3vw;
    font-family: 'Lobster', cursive;
}

/*navigation*/
header>nav {
    display: block;
    width: 100%;
}

header>nav * {
    font-size: 1.2em;
}

nav ul li:hover {
    transition: background-color 0.3s linear;
    background-color: aliceblue;
    cursor: pointer;
}

nav ul li:hover * {
    transition: color 0.3s linear;
    color: #343434;
}

nav ul li a {
    width: 100%;
    margin: 20px 20px 0px 40px;
}

/*footer*/
.footer{
    position: inherit;
    bottom: 40px;
    padding: 0px 40px;
}

.footer-contact {
    display: flex;
    flex-direction: row;
}
.footer-contact a{
    font-size: 1.2em;
}

.footer-contact a:not(:last-child)::after{
    content:"\2666";
    margin: 0px 5px;
}

.update-time{
    font-size: 1.2em;
    margin: 10px 0px;
}

.activeLink{
    background-color: aliceblue;
    color: #343434;
}

.activeLink *{
    color: #343434;
}